<meta name="theme-color" content="#7ED9D9">

<link rel="preconnect" href="https://unpkg.com">
<link rel="preconnect" href="https://fonts.googleapis.com">

<script src="https://unpkg.com/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ '/_assets/_static/slide-decks/decks.css' | asset | url }}">
<script type="module" src="{{ '/_assets/_static/slide-decks/slidem.js' | asset | url }}"></script>
<noscript><link rel="stylesheet" href="{{ '/_assets/_static/slide-decks/noscript.css' | asset | url }}"></noscript>
