<link data-preset="slide-decks" rel="stylesheet" href="{{ '/_assets/_static/slide-decks/decks.css' | asset | url }}">
<script data-preset="slide-decks" type="module" src="{{ '/_assets/_static/slide-decks/slidem.js' | asset | url }}"></script>
<noscript data-preset="slide-decks"><link rel="stylesheet" href="{{ '/_assets/_static/slide-decks/noscript.css' | asset | url }}"></noscript>
